body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.product-container {
  > .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebd96b;
    padding: 10px;
    > p {
      font-size: 3rem;
      font-weight: bold;
    }
    > button {
      background-color: black;
      color: white;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      height: 25px;
      width: 50px;
      // margin-right:5px;
    }
  }

  > .ad-container {
    top: 30px;
    margin: auto;
    background-color:  #F4F6F5;;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    height: 545px;
    width: 1170px;
    @media only screen and (max-width:1024px) and (min-width:768px){
      height: inherit;
      width: inherit;
    }
    @media only screen and (max-width:767px) and (min-width:426px){
      height: inherit;
      width: inherit;
  }
    @media only screen and (max-width:425px) and (min-width:320px){
      width:inherit;
      height: inherit;
      display: flex;
    }
    > .tagline-container {
      > .white-bg {
        width:350px;
        background: #ffffff;
        transform: rotate(-2deg);
      }
      > .yellow-bg {
        width:350px;
        background: #ebd96b;
        transform: rotate(-2deg);
        @media only screen and (max-width:425px) and (min-width:320px){
          width:240px
        }
      }
      > p {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 3rem;
        @media only screen and (max-width:425px) and (min-width:320px){
          font-size: xx-large;
        }
      }
    }

    > .img-container {
      img {
        height: 500px;
        width: 500px;
        @media only screen and (max-width:1024px) and (min-width:768px){
          height: 420px;
          width: 420px;
        }
       
      }
      @media only screen and (max-width:425px) and (min-width:320px){
        display:none;
      }
     
    }
  }

  > .brand-container {
    margin: 20px 0;
    background-color: #ebd96b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    > .brands {
      padding: 5px;
      > img {
        width: 45px;
        height: 30px;
      }
    }
  }
  > .container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media only screen and (max-width:425px) and (min-width:320px){
      grid-template-columns: repeat(1,1fr);
    }

    > .item-container {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      > .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      > img {
        height: 250px;
        width: 250px;
        @media only screen and (max-width:767px) and (min-width:426px){
          height: 200px;
          width: 150px;
        }
      }
    }

  
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    > span {
      padding: 10px;
      background-color: white;
      margin: 5px;
      border-radius: 25px;
      cursor: pointer;
    }

    > .pagination-disabled {
      opacity: 0;
    }
  }
}
